//- Image mixins
mixin img-responsive(src,alt)
  img.img-fluid(src=src,alt=alt)

mixin img-center(src,alt)
  img.mx-auto.d-block.img-fluid(src=src,alt=alt)

mixin img-rounded(src,alt)
  img.rounded(src=src,alt=alt)

mixin img-thumbnail(src,alt)
  img.img-thumbnail(src=src,alt=alt)
