mixin navbar(admin, name, href, position, style, background, logoUrl)
    - var admin = (typeof admin === 'undefined') ? false : admin
    - var name = (typeof name === 'undefined') ? "Grogan Burner Services" : name
    - var style = (typeof style === 'undefined') ? "inverse" : style
    - var position = (typeof position === 'undefined') ? "navbar-toggleable-md" : position
    - var background = (typeof background === 'undefined') ? "inverse" : background
    - var href = (typeof href === 'undefined') ? "/" : href
    - var logoUrl = (typeof logoUrl === 'undefined') ? "/static/images/menu/flames.png" : logoUrl
    nav( role="navigation", class=["navbar", "rounded", position, "navbar-" + style, "bg-" +background] )
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand.pull-left(href=href)= name
            img.logo(itemprop="logo" src=logoUrl)
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                block
            unless !admin
                form.form-inline.my-2.my-lg-0(action='/customers/search',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input.form-control.mr-sm-2(type='text', placeholder='Search', name="text")
                    button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

mixin nav_item(href, active)
    if(active)
        li(class="nav-item active"): a(class="nav-link" href=href ): block
    else
        li(class="nav-item"): a(class="nav-link" href=href ): block