mixin table(header,data,type)
  - var type = type || ""
  table.table(class=type)
    thead
      tr
        each head, i in header
          th #{head}
    tbody
      each row,j in data
        tr
          each col,k in row
            td #{col}

mixin edit-table(header,fieldsToShow,data,type)
  - var type = type || ""
  .container.filterable
    .bg-primary.table-edit.text-white.row
        .col-6.col-sm-6.col-md-8
          h4 Customers
        .col-6.col-md-4
          btn.btn-secondary.btn-sm(data-toggle="modal" data-target="#new") 
            i.fa.fa-plus(aria-hidden="true") 
            | &nbsp; Add Customer
          | &nbsp;
          button.btn.btn-secondary.btn-sm.btn-filter(href='/customers/new') 
            i.fa.fa-filter(aria-hidden="true") 
            | &nbsp; Filter
    .row
      table.table(class=type)
        thead
          tr.filters
            each head, i in header
              th 
                input.form-control(type="text" placeholder=head, disabled)
            th Actions
        tbody
          each row,j in data
            tr
              each field, i in fieldsToShow
                if (typeof(row[field]) === 'object')
                  td !{JSON.stringify(row[field])} 
                else
                  td #{row[field]}

              td
                .btn-group(role="group" aria-label="Button group with nested dropdown")
                  button.btn.btn-secondary.dropdown-toggle(id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Actions
                  .dropdown-menu(aria-labelledby="btnGroupDrop1")
                    a.dropdown-item(href='/customers/'+row._id+'/edit') Edit
                      i.fa.fa-pencil(aria-hidden="true")
                    form(action='/customers/'+row._id+'/edit',method='post',enctype='application/x-www-form-urlencoded')
                      input(type='hidden',value='DELETE',name='_method')
                      input(type='hidden',value=row._id,name='key')
                    a.dropdown-item(role="button" type=submit) Delete
                      i.fa.fa-trash(aria-hidden="true")

mixin edit-table-striped(header,fieldsToShow,data)
  +edit-table(header,fieldsToShow,data,"table-striped")

mixin table-striped(header,data)
  +table(header,data,"table-striped")

mixin table-bordered(header,data)
  +table(header,data,"table-bordered")

mixin table-hover(header,data)
  +table(header,data,"table-hover")

mixin table-condensed(header,data)
  +table(header,data,"table-condensed")